################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WpfApp/bin/Debug
/DataTier/bin/Debug
/CoreTier/bin/Debug
/CoreTier/obj/Debug
/DataTier/obj/Debug
/LogicTier/obj/Debug
/WpfApp/obj/Debug
/LogicTier/bin/Debug
/WpfApp/bin/Release
/DataTier/bin/Release
/CoreTier/bin/Release
/CoreTier/obj/Release
/DataTier/obj/Release
/LogicTier/obj/Release
/WpfApp/obj/Release
/LogicTier/bin/Release
.vs/SISEOB/v15/sqlite3/db.lock
.vs/SISEOB/v15/Server/sqlite3/db.lock
.vs/SISEOB/v15/Server/sqlite3/storage.ide
.vs/SISEOB/v15/Server/sqlite3/storage.ide-shm
.vs/SISEOB/v15/Server/sqlite3/storage.ide-wal
.vs/SISEOB/v15/sqlite3/storage.ide
.vs/SISEOB/v15/sqlite3/storage.ide-shm
.vs/SISEOB/v15/sqlite3/storage.ide
.vs/SISEOB/v15/sqlite3/storage.ide-wal
.vs/SISEOB/v15/sqlite3/storage.ide
.vs/SISEOB/v15/sqlite3/storage.ide
.vs/SISEOB/v15/sqlite3/storage.ide
.vs/Git Personal/v16/.suo
.vs/ProjectSettings.json
.vs/SISEOB/v16/Server/sqlite3/db.lock
.vs/SISEOB/v16/Server/sqlite3/storage.ide
.vs/SISEOB/v16/Server/sqlite3/storage.ide-shm
.vs/SISEOB/v16/Server/sqlite3/storage.ide-wal
.vs/SISEOB/v16/.suo
.vs/SISEOB/v16/.suo
.vs/SISEOB/v16/Server/sqlite3/storage.ide-shm
.vs/SISEOB/v16/Server/sqlite3/storage.ide-wal
.vs/SISEOB/v16/.suo
.vs/SISEOB/v16/Server/sqlite3/storage.ide
.vs/SISEOB/v16/Server/sqlite3/storage.ide-shm
.vs/SISEOB/v16/Server/sqlite3/storage.ide-wal
.vs/SISEOB/v16/.suo
.vs/SISEOB/v16/Server/sqlite3/storage.ide-wal
.vs/SISEOB/v16/Server/sqlite3/storage.ide
